<div *ngIf="!this.isUserPage" class="mx-4">
  <form>
    <div *ngIf="!this.isClient" class="form-check">
      <input class="form-check-input" type="checkbox" name="myproperties" [(ngModel)]="this.onlyMy" (change)="this.showOnlyRealtors()">
      <label class="form-check-label">Only my properties</label>
    </div>
    <div class="form-group">
      <label>Size in m<sup>2</sup> </label>
      <div class="input-group">
        <input name="sizeMin" type="number" [(ngModel)]="this.filters.size.min.value"
          (change)="this.updateFilters(this.filters.size.min)" min="0" class="form-control mr-2"
          placeholder="Min &#13217;">
        <input name="sizeMax" type="number" [(ngModel)]="this.filters.size.max.value"
          (change)="this.updateFilters(this.filters.size.max)" min="0" class="form-control mr-2"
          placeholder="Max &#13217;">
      </div>
    </div>

    <div class="form-group">
      <label>Price</label>
      <div class="input-group">
        <input name="priceMin" type="number" [(ngModel)]="this.filters.price.min.value"
          (change)="this.updateFilters(this.filters.price.min)" min="0" class="form-control mr-2"
          placeholder="Min price">
        <input name="priceMax" type="number" [(ngModel)]="this.filters.price.max.value"
          (change)="this.updateFilters(this.filters.price.max)" min="0" class="form-control mr-2"
          placeholder="Max price">
      </div>
    </div>

    <div class="form-group">
      <label>Number of rooms</label>
      <div class="input-group">
        <input name="roomMin" type="number" [(ngModel)]="this.filters.rooms.min.value"
          (change)="this.updateFilters(this.filters.rooms.min)" min="0" class="form-control mr-2"
          placeholder="Min room">
        <input name="roomMax" type="number" [(ngModel)]="this.filters.rooms.max.value"
          (change)="this.updateFilters(this.filters.rooms.max)" min="0" class="form-control mr-2"
          placeholder="Max room">
      </div>
    </div>
  </form>
</div>
<div *ngIf="this.isUserPage" class="mx-4">
  <div class="form-group">
    <label>Search User</label>
    <input name="roomMax" type="text" [(ngModel)]="this.userSearch" (keyup)="this.searchUser()" min="0"
      class="form-control mr-2" placeholder="Search users by email or name">
  </div>
</div>