<form [loading]="this.loading" #loginForm="ngForm" (ngSubmit)="loginForm.valid && this.login()" name="login" novalidate>
  <div class="form-group">
    <input 
      [(ngModel)]="this.credentials.email" 
      name="email" 
      type="email"
      #email="ngModel"
      [class.is-invalid]="email.errors && email.touched" 
      required
      email
      class="form-control" 
      placeholder="Email address">
      <div *ngIf="email.errors && email.touched" class="invalid-feedback">
        Please provide a valid email.
      </div>
  </div>
  <div class="form-group">
    <input 
      [(ngModel)]="this.credentials.pass" 
      name="password" 
      type="password"
      #password="ngModel"
      [class.is-invalid]="password.errors && password.touched" 
      required
      class="form-control" 
      placeholder="Password">
      <div *ngIf="password.errors && password.touched" class="invalid-feedback">
        Please provide a valid password.
      </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>