<div class="modal-header">
  <h5 class="modal-title">Edit User</h5>
  <button type="button" class="close" aria-label="Close" (click)="this.modalRef.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <app-user-form [user]="this.user" (statusChange)="this.formValid = $event">
  </app-user-form>

</div>
<div class="modal-footer">
  <div class="float-right">
    <button class="btn btn-primary" [disabled]="!this.formValid" (click)="this.modalRef.close(this.user)">Save</button>
  </div>
</div>