<app-property-card class="map-card" *ngIf="this.selectedProperty" [property]="this.selectedProperty"></app-property-card>
<div class="map-card">
  <div *ngIf="this.properties && this.properties.length === 0" class="re-card alert alert-danger" role="alert">
    No properties found.
  </div>
</div>
<button *ngIf="this.selectedProperty" (click)="this.closeInfoPanel()" class="close-btn btn btn-secondary">Close</button>
<div [loading]="this.mapLoading" class="h-100" style="position: fixed; top:0; right: 0; left: 0;">
  <div #map class="mb-2" style="width:100%;height:100%;"></div>
</div>