<div class="re-card p-4 mb-4" [loading]="this.newUserLoading">
  <app-user-form [user]="this.newUser" (statusChange)="this.formValid = $event"></app-user-form>
  <ng-container *ngIf="this.newUser">
    <div>
      <button type="submit" class="btn btn-primary" (click)="this.newUser = null">Cancel</button>
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-primary" [disabled]="!this.formValid" (click)="this.createUser()">Add</button>
    </div>
  </ng-container>
  <app-create-button *ngIf="!this.newUser" (click)="this.newUserClicked()"></app-create-button>
</div>
<app-user-card *ngFor="let item of this.users | userSearch: this.userSearch" [user]="item">
</app-user-card>
<ng-container *ngIf="!this.users">
  <div class="re-card p-4 mb-4 item-card h-25" *ngFor="let item of '     '.split('')" [loading]="true"></div>
</ng-container>