<div *ngIf="!this.deleted" class="re-card p-4 mb-4" [loading]="this.loading">
  <div class="float-right btn-column-group" *ngIf="this.cudEnabled">
    <button [disabled]="this.currentUser.id == user.id" class="btn btn-outline-danger btn-icon" (click)="this.deleteUser()">
      <span *ngIf="this.currentUser.id != user.id">Delete User</span>
      <span *ngIf="this.currentUser.id == user.id">Can't delete yourself</span>
      <i class="fa fa-trash-alt"></i>
    </button>
    <button class="btn btn-outline-warning btn-icon" (click)="this.editUser()">
      <span>Edit User</span>
      <i class="fa fa-pen"></i>
    </button>
    <button class="btn btn-outline-success btn-icon" (click)="this.resetPassword()">
      <span>Reset Password</span>
      <i class="fa fa-star-of-life"></i>
    </button>
  </div>
  <h4>{{ this.user.name }}</h4>
  <h5 *ngIf="this.user.role == 0">Admin</h5>
  <h5 *ngIf="this.user.role == 1">Realtor</h5>
  <h5 *ngIf="this.user.role == 2">Client</h5>
  <p>{{ this.user.email }}</p>
</div>