<!-- <app-properties-list *ngIf="!this.isMap" [user]="this.user" [properties]="this.properties" [cudEnabled]="this.cudEnabled"></app-properties-list>
<app-properties-map *ngIf="this.isMap" [user]="this.user" [cudEnabled]="this.cudEnabled"></app-properties-map> -->
<router-outlet></router-outlet>