.item-card {
  position: relative;
  padding-right: $small-map-width!important;
  > .map {
    position: absolute;
    width: $small-map-width;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    > .map-overlay{
      position: absolute;
      top: 0;
      bottom: 0;
      right: $small-map-width - 70px;
      left: 0;
      z-index: 11;
      box-shadow: inset 30px 0px 19px -10px #fff;
      
    }
    .gm-style-cc {
      display: none!important;
    }
  } 
}