<div *ngIf="!this.deleted && this.property" class="re-card p-4 mb-4 item-card" [loading]="this.loading">
  <div class="float-right btn-column-group" *ngIf="this.cudEnabled">
    <button class="btn btn-outline-danger btn-icon" (click)="this.deleteProperty()">
      <span>Delete Property</span>
      <i class="fa fa-trash-alt"></i>
    </button>
    <button class="btn btn-outline-warning btn-icon" (click)="this.editProperty()">
      <span>Edit Property</span>
      <i class="fa fa-pen"></i>
    </button>
    <button [ngClass]="{
      'btn-outline-success' : this.property.state == 0,
      'btn-outline-info' : this.property.state == 1
    }" class="btn btn-icon" (click)="this.changeStatus()">
      <ng-container *ngIf="this.property.state == 0">
        <span>Mark rented</span>
        <i class="fa fa-times-circle"></i>
      </ng-container>
      <ng-container *ngIf="this.property.state == 1">
        <span>Mark available</span>
        <i class="fa fa-check"></i>
      </ng-container>
    </button>
  </div>
  <h4>{{ this.property.name }}</h4>
  <div class="pb-2">
    <h5 class="d-inline pr-4">{{ this.property.price | currency: this.property.currency.code : 'symbol' : '0.0' }}</h5>
    <p class="d-inline">
      <ng-container *ngIf="this.property.state == 0">
        <i class="fa fa-check"></i> Available
      </ng-container>
      <ng-container *ngIf="this.property.state == 1">
        <i class="fa fa-times"></i> Rented <small> at {{ this.property.dateRented | date: 'dd MMMM yyy' }}</small>
      </ng-container>
    </p>
  </div>
  <p class="d-inline pr-4">
    <i class="fa fa-bed"></i> {{ this.property.rooms }}
  </p>
  <p class="d-inline pr-4">
    {{ this.property.size }}m<sup>2</sup>
  </p>
  <p class="pr-4">
    <i class="fa fa-user"></i> {{this.property.realtor.name}}
  </p>
  <p class="pt-1">{{ this.property.description }}</p>
  <small class="pt-1">Listing Date: {{ this.property.dateAdded | date: 'dd MMMM yyy'}}</small>

  <div class="map">
    <div class="map-overlay">
    </div>
    <app-map-small [geoLocation]="this.property.geoLocation"></app-map-small>
  </div>
</div>