<div class="px-4">
  <app-login-form *ngIf="this.hasAccount"></app-login-form>
  <app-register-form *ngIf="!this.hasAccount"></app-register-form>
  <div>
    <button *ngIf="this.hasAccount" (click)="this.hasAccount=!this.hasAccount" class="btn btn-light">Register</button>
    <button *ngIf="!this.hasAccount" (click)="this.hasAccount=!this.hasAccount" class="btn btn-light">Login</button>
  </div>
</div>
<hr>