<div class="theme light">
  <div class="container main-contanier">
    <app-top-bar></app-top-bar>
    <div class="row content">
      <div class="col-8 items my-2">
        <router-outlet></router-outlet>
      </div>
      <div class="col-4">
        <div class="user" [class.map-view]="this.isMap">
          <div class=" re-card py-4 mb-4">
            <app-login-layout *ngIf="!this.user"></app-login-layout>
            <app-user-tag [user]="this.user"></app-user-tag>
            <hr *ngIf="this.user">
            <app-nav></app-nav>
          </div>
          <div class=" re-card py-4 mb-4">
            <app-page-operations></app-page-operations>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>