<div *ngIf="this.cudEnabled" class="re-card p-4 mb-4" [loading]="this.newPropertyLoading">
  <app-property-form [property]="this.newProperty" (statusChange)="this.formValid = $event"></app-property-form>
  <ng-container *ngIf="this.newProperty">
    <div class="float-left">
      <button type="submit" class="btn btn-primary" (click)="this.newProperty = null">Cancel</button>
    </div>
    <div class="float-right">
      <button type="submit" class="btn btn-primary" [disabled]="!this.formValid"
        (click)="this.createProperty()">Add</button>
    </div>
  </ng-container>
  <app-create-button *ngIf="!this.newProperty" (click)="this.newPropertyClicked()"></app-create-button>
</div>
<app-property-card *ngFor="let item of this.properties" [property]="item"></app-property-card>
<ng-container *ngIf="!this.properties">
  <div class="re-card p-4 mb-4 item-card h-50" *ngFor="let item of '     '.split('')" [loading]="true"></div>
</ng-container>
<div *ngIf="this.properties && this.properties.length === 0" class="re-card alert alert-danger" role="alert">
  No properties found.
</div>