<form [loading]="this.loading" name="register" (ngSubmit)="register.valid && this.registerUser()" #register="ngForm" novalidate>
  <div class="form-group">
    <input 
      [(ngModel)]="this.user.name" 
      required 
      name="name" 
      #name="ngModel" 
      type="text" 
      class="form-control" 
      [class.is-invalid]="name.errors && name.touched"
      placeholder="Name"
      autocomplete="new-name">
      <div *ngIf="name.errors && name.touched" class="invalid-feedback">
        Please provide a valid name. 
      </div>
  </div>
  <div class="form-group">
    <input 
      [(ngModel)]="this.user.email" 
      required 
      email
      name="email" 
      #email="ngModel" 
      type="email" 
      class="form-control" 
      [class.is-invalid]="email.errors && email.touched"
      placeholder="Email address"
      autocomplete="new-email">
      <div *ngIf="email.errors && email.touched" class="invalid-feedback">
        Please provide a valid email. 
      </div>
  </div>
  <div class="form-group">
    <input 
      [(ngModel)]="this.user.password" 
      required 
      name="password" 
      #password="ngModel" 
      type="password" 
      class="form-control" 
      [class.is-invalid]="password.errors && password.touched"
      placeholder="Password"
      autocomplete="new-password">
      <div *ngIf="password.errors && password.touched" class="invalid-feedback">
        Please provide a valid password. 
      </div>
  </div>
  <div class="float-right">
    <button type="submit" class="btn btn-primary" [disabled]="register.invalid">Register</button>
  </div>
</form>