.btn {
  border-radius: unset;
  border: none;
  &.btn-primary {
    color: #fff;
    background-color: $pallete-dark-blue;
    &:hover {
      background-color: $pallete-light-blue;
    }
  }
  &.btn-icon {
    position: relative;
    > span {
      margin-right: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 40px;
      background-color: white;
      transition: right ease 0.5s;
    }
    &:hover:after {
      right: 100%;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
.btn-column-group {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
a,
button {
  transition: background ease 0.5s;
}
app-properties-map {
  button.btn.close-btn {
    position: absolute;
    z-index: 11;
    right: 1rem;
  }
}
