@mixin card-func($size) {
  position: relative;
  border-radius: 10px;
  box-shadow: ($size/10) ($size/10) ($size/5) #d8d9d6, (-($size/10)) (-($size/10)) ($size/5) #ffffff;
  overflow: hidden;
}
.re-card {
  @include card-func(100px);
  &:not(.alert) {
    background: #fefffc;
  }
}
.modal-card {
  .modal-dialog {
    @include card-func(100px);
    box-shadow: 10px 10px 20px #7d7d7d, -10px -10px 20px #737373;
  }
}

.map-card {
  .re-card {
    z-index: 11;
    padding-right: 1.5rem !important;
    .map {
      display: none;
    }
  }
}
