<div class="modal-body">
  <div class="row">
    <div class="col-12 text-center">
      <h4>{{this.title}}</h4>
      <h6 class="mb-4">{{this.message}}</h6>
      <button class="btn btn-danger mr-4" (click)="this.modalRef.close(false)">No</button>
      <button class="btn btn-primary" (click)="this.modalRef.close(true)">Yes</button>
    </div>
  </div>
</div>