<div class="d-block">
  <ul *ngIf="this.navs.length > 0" class="nav flex-column">
    <a *ngFor="let item of this.navs" [routerLink]="item.url" [class.active]="this.activeUrl == item.url"
      class="nav-item px-4 py-2 text-left">
      {{ item.title }}
    </a>
  </ul>
  <hr *ngIf="this.navs.length > 0 && this.user">
  <ul *ngIf="this.user" class="nav flex-column">
    <a (click)="logout()" class="nav-item px-4 py-2 text-left">
      Logout
    </a>
  </ul>
</div>