body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
div.theme {
  &.light {
    &,
    .top-bar {
      background-color: #ffffffe0;
    }
    .top-bar {
      padding: 15px 0px;
    }
    .content {
      > div > .user {
        position: sticky;
        top: $topbar-height + 8px;
        &.map-view {
          * {
            transition: opacity ease 0.3s;
            opacity: 0.7;
          }
          &:hover {
            * {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  p,
  h4,
  h5,
  a,
  small,
  sup,
  label {
    color: #111356;
  }
}
