<form name="properyForm" #propertyForm="ngForm">
  <ng-container *ngIf="this.property">
    <div class="form-group">
      <label>Name</label>
      <input [(ngModel)]="this.property.name" name="newname" #newname="ngModel"
        [class.is-invalid]="newname.errors && newname.touched" required type="text" class="form-control"
        placeholder="Enter a heading">
      <div *ngIf="newname.errors && newname.touched" class="invalid-feedback">
        Please provide a valid name.
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea [(ngModel)]="this.property.description" name="newdescription" #newdescription="ngModel"
        [class.is-invalid]="newdescription.errors && newdescription.touched" required type="text" rows="3"
        class="form-control" placeholder="Enter a description">
      </textarea>
      <div *ngIf="newdescription.errors && newdescription.touched" class="invalid-feedback">
        Please provide a valid description.
      </div>
    </div>
    <div class="form-group">
      <label>Size</label>
      <input [(ngModel)]="this.property.size" name="newsize" #newsize="ngModel"
        [class.is-invalid]="newsize.errors && newsize.touched" required type="number" class="form-control" min="0"
        placeholder="Floor area size in &#13217;">
      <div *ngIf="newsize.errors && newsize.touched" class="invalid-feedback">
        Please provide a valid size.
      </div>
    </div>
    <div class="form-group">
      <label>Rooms</label>
      <input [(ngModel)]="this.property.rooms" name="newrooms" #newrooms="ngModel"
        [class.is-invalid]="newrooms.errors && newrooms.touched" required type="number" class="form-control"
        placeholder="Number of rooms">
      <div *ngIf="newrooms.errors && newrooms.touched" class="invalid-feedback">
        Please provide a valid number of room count.
      </div>
    </div>
    <div class="form-group">
      <label>Price and Currency</label>
      <div class="input-group">
        <input [(ngModel)]="this.property.price" name="newprice" #newprice="ngModel"
          [class.is-invalid]="newprice.errors && newprice.touched" required type="number" class="form-control"
          placeholder="Monthly price of the property">
        <div *ngIf="newprice.errors && newprice.touched" class="invalid-feedback">
          Please provide a valid price.
        </div>
        <select class="form-control col-3" name="currency" #currency required
          (change)="this.currencyChange(currency.value)">
          <option [ngValue]="null" disabled [selected]="!this.property.currency">Currency</option>
          <option *ngFor="let item of this.currencies" [ngValue]="item.name"
            [selected]="this.property.currency && item.name == this.property.currency.name">{{ item.name }} -
            {{ item.symbol }}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label>Location</label>
      <div class="input-group">
        <input [(ngModel)]="this.property.geoLocation.lat" name="lat" #lat="ngModel"
          [class.is-invalid]="lat.errors && lat.touched" required type="number" class="form-control" step="0.001"
          placeholder="Latitude of the location">
        <input [(ngModel)]="this.property.geoLocation.long" name="long" #long="ngModel"
          [class.is-invalid]="long.errors && long.touched" required type="number" class="form-control" step="0.001"
          placeholder="Longitude of the location">
        <div *ngIf="lat.touched && lat.invalid || long.touched && long.invalid" class="invalid-feedback">
          Please provide a valid location.
        </div>
      </div>
    </div>
    <app-location-picker [(lat)]="this.property.geoLocation.lat" [(long)]="this.property.geoLocation.long">
    </app-location-picker>
  </ng-container>
</form>