<form name="user" #userForm="ngForm">
  <ng-container *ngIf="this.user">
    <div class="form-group">
      <input [(ngModel)]="this.user.name" required name="newname" #newname="ngModel" [class.is-invalid]="newname.errors && newname.touched" type="text" class="form-control" placeholder="Name">
      <div *ngIf="newname.errors && newname.touched" class="invalid-feedback">
        Please provide a valid name. 
      </div>
    </div>
    <div class="form-group">
      <input [(ngModel)]="this.user.email" required email name="newemail" #newemail="ngModel" [class.is-invalid]="newemail.errors && newemail.touched" type="email" class="form-control"
        placeholder="Email address">
        <div *ngIf="newemail.errors && newemail.touched" class="invalid-feedback">
          Please provide a valid email. 
        </div>
      </div>
    <div class="form-group">
      <select name="userrole" #userrole="ngModel" [class.is-invalid]="userrole.errors && userrole.touched" class="form-control" [(ngModel)]="this.user.role" required>
        <option [ngValue]="null" disabled selected>Select a role</option>
        <option [ngValue]="0">Admin</option>
        <option [ngValue]="1">Realtor</option>
        <option [ngValue]="2">Client</option>
      </select>
      <div *ngIf="userrole.errors && userrole.touched" class="invalid-feedback">
        Please provide a valid role. 
      </div>
    </div>
  </ng-container>
</form>