$lightblue: #f3fcff;
$blueborder: 1px solid #e0f7ff;

$topbar-height: 55px;

$small-map-width: 300px;

$pallete-orange: #f4b895;
$pallete-light-blue: #b3c6d5;
$pallete-dark-blue: #34538a;
$pallete-beige: #f4dbb2;